# کپی کن به فایل .env و مقادیرش رو پر کن
SECRET_KEY=change-this-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,mahditaghdisi.ir,www.mahditaghdisi.ir,.onrender.com
# روی Render این رو خودش با ساختن دیتابیس Postgres پر می‌کنه (Internal Database URL)
DATABASE_URL=sqlite:///db.sqlite3
CSRF_TRUSTED_ORIGINS=https://mahditaghdisi.ir,https://www.mahditaghdisi.ir
